
.map-container{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#mapId{
    position: relative;
    z-index: 0;
    max-width:60vw;
    max-height:60vh;
    border: 1px red solid;
    text-align: center;
    overflow: hidden;
  
}

.lens{
    z-index: 0;
    position: absolute;
    border:1px blue solid;
}

.lens:hover{
    cursor: grab;
}

.atlas{
    position: relative;
    z-index: 1;
    transition: .7s;
}

div > .leaflet-control-zoom > .leaflet-bar > .leaflet-control{
    position: absolute;
    z-index:1003;
}