
.map-container{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#mapid{
    position: relative;
    z-index: 0;
    width:60vw;
    height:50vh;
    border: 1px red solid;
    text-align: center;
    overflow: hidden;
}

.lens{
    z-index: 2;
    position: absolute;
    border:1px blue solid;
}

.lens:hover{
    cursor: grab;
}

.atlas{
    position: absolute;
    z-index: 1;
}

.dash{
    position: relative;
    z-index: 1;
    width:90vw;
    height: 200px;
    border:2px dashed black;
}

.red{
    position: absolute;
    z-index: 2;
    width: 70vw;
    height: 100px;
    background-color: red;
}

.blue{
    position: absolute;
    z-index: 5;
    width: 50vw;
    height: 50px;
    background-color:blue;
}