.main-container{
  display:flex;
  justify-content: start;
  max-height: 100vh;
}

.map-container{
  width:50vw;
  max-height: 100vh;
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.6em;
  height: 3.6em;
  font-size: .8em;
  font-weight: bold;
  background-color: #f77b1a;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(black, .9);
  transition: .5s;
}


.leaflet-marker-pane:hover .leaflet-marker-icon .icon-marker {
  transform: scale(.75);
  opacity: .2;
}


.icon-marker:hover{
  transform: scale(1.75) !important;
  opacity: 1 !important;
}


.leaflet-div-icon {
  background: transparent;
  border: none;
}  

.leaflet-popup-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.leaflet-popup-content-wrapper{
  background-color: #36454F;
}

li{
  list-style-type: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.stub{
  font-size: 1.2em;
}

.popup-list{
  display:flex;
  flex-direction: column;
}

.popup-content{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
}

.ratio{
  display:flex;
  flex-direction: column;
}

.cases{
  font-weight: bold;
  color: darkorange;
}

.deaths{
  font-weight: bold;
  color: lightcoral;
}

.recovered{
  font-weight: bold;
  color: forestgreen
}

.active{
  font-weight: bold;
  color:tomato;
}

.critical{
  font-weight: bold;
  color: gold;
}

.dash-charts{
  display: flex;
  flex-direction: column;
  max-width: 45vw;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.case-container {
  min-width: 50vw;
  min-height: 50vh;
  background: white;
  padding: 30px 20px 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
}

.death-container {
  min-width: 50vw;
  min-height: 50vh;
  background: white;
  padding: 30px 20px 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 0px -5px rgba(0,0,0,0.3);
}